$color-primary: #275df3;
$color-accent: #ea3323;
$color-success: #6bbe67;
$color-warning: #eb5a5a;
$color-warning-light: #FFF0F0;
$color-danger: #ffd644;
$color-mid-night: #24272e;
$color-white: #ffffff;
$color-primary-pastel-dream: #e5ecff;
$color-primary-sticky-note: #f9f8e5;
$color-saphire: #275df3;
$color-saphire-light: #E6ECFF;
$color-saphire-pale: #e8ecf9;
$color-micd-gray: #d9d9d9;
$color-bg-gray: #f6fafe;
$color-neutral: #E0E0E2;
$color-lightGray: #F2F4F8;
$color-bg-case-banner:#E6ECFF;
$color-gradient-rainbow: linear-gradient(90.48deg, #ea3323 0.46%, #275df3 94.87%);$color-gradient-rainbow: linear-gradient(90.48deg, #ea3323 0.46%, #275df3 94.87%);
